*{ /*Resetando config margem e padding.
     Aplica-se * quando se quer utilizar na pagina toda*/
margin: 0; /*espaco para fora do contorno */
padding: 0; /*preenchimento, espaco dentro do contorno */
}

body{ /*todo o conteudo visual da pagina*/
    height: 100vh; /* altura 100% */
    box-sizing: border-box; /*para os elementos nao vazarem para fora*/
    background-color: #000000; /*cor do fundo*/
    color: #f6f6f6; /*cor da fonte*/
}
.apresentacao{ /*tag main*/
    display:flex;
    flex-direction: row; /*alinhamento em linha, porem nao seria necessario por se tratar do padrao de display flex*/
    align-items: center; /*colunas centralizadas*/
    justify-content: space-between; /*espaco entre as colunas, podendo se utilizar do gap*/
    margin: 10% 15%; 
}
.apresentacao_conteudo{ /*tag section - coluna esquerda*/
    display:flex; /*caixas - H1, P e Div*/
    flex-direction: column;
    gap: 40px; /*espaco entre as caixas dentro da coluna*/
    width: 50%; /*largura da coluna em porcentagem com base da caixa main*/
}

p{ /*paragrafo*/
    text-align: justify;
}
.apresentacao_conteudo_titulo{ /*tag H1*/ 
    font-size: 36px; /*tamanho da fonte*/
    font-family: "Krona one", sans-serif; /*estilo da letra*/
}

.destaque_titulo{ /*tag strong H1*/
    color: #22d4fd;
}

.apresentacao_conteudo_texto{ /*tag P*/
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao_links{ /*tag div*/
    display:flex;
    justify-content: space-between; /*espaco entre as caixas*/
    flex-direction: row;
}
.apresentacao_links_link{ /*tag a*/
    width: 280px;
    background-color: #22d4fd; /*cor de fundo do botao*/
    text-align: center; /*centraliza o texto*/
    border-radius: 16px; /*arredondamento da borda*/
    font-size: 24px;
    font-weight: 600;/*peso da fonte*/
    text-decoration: none; /*tira o sublinhado do texto*/
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding: 21.5px 0;
}